include ../../form-elements/rate-button/rate-button

mixin room-preview()
    .room-preview
        div(class="room-preview__carousel")
            .room-preview__img_1
                img(src="/img/num_lux.jpg" alt="Фото 1")
            .room-preview__img_2
                img(src="/img/num_lux.jpg" alt="Фото 2")
            .room-preview__img_3
                img(src="/img/num_lux.jpg" alt="Фото 3")
            .room-preview__img_4
                img(src="/img/num_lux.jpg" alt="Фото 4")
        .room-preview__info_1
            .room-preview__room
                span.room-preview__symbol № 
                span.room-preview__number 888
                span.room-preview__type люкс
            .room-preview__price
                span.room-preview__rubles 9 990₽
                span.room-preview__period в сутки
        .room-preview__separator
        .room-preview__info_2
            .room-preview__rating
                +rate-button(5)
            .room-preview__comments
                span.room-preview__comments_count 145
                span.room-preview__comments_label Отзывов

