mixin room-preview()
    .room-preview
        .room-preview__carousel
            .room-preview__img_1
                img(src="/img/num_lux.jpg" alt="Фото 1")
            .room-preview__img_2
            .room-preview__img_3
            .room-preview__img_4
        .room-preveiw__info
