mixin room-preview()
    .room-preview
        div(class="room-preview__carousel")
            .room-preview__img_1
                img(src="/img/num_lux.jpg" alt="Фото 1")
            .room-preview__img_2
                img(src="/img/num_lux.jpg" alt="Фото 2")
            .room-preview__img_3
                img(src="/img/num_lux.jpg" alt="Фото 3")
            .room-preview__img_4
                img(src="/img/num_lux.jpg" alt="Фото 4")
        .room-preveiw__info
