mixin filter-date-dropdown(label="Filter date dropdown")
    .filter-date-dropdown
        label(class="filter-date-dropdown__label")= label
        .filter-date-dropdown__box
            input(type="text"
                  class="filter-date-dropdown__input datepicker-here"
                  data-range="true"
                  data-multiple-dates-separator=" - ")
            .filter-date-dropdown__arrow keyboard_arrow_down