mixin filter-date-dropdown()
    .filter-date-dropdown
        label(class="filter-date-dropdown__label") Filter date dropdown
        .filter-date-dropdown__box
            .filter-date-dropdown__input 19 авг - 23 авг
            .filter-date-dropdown__arrow keyboard_arrow_down