mixin date-dropdown(content, icon='keyboard_arrow_down')
    .date-dropdown
        label(class="date-dropdown__label") Date dropdown
        .date-dropdown__box
            .date-dropdown__input= content
            .date-dropdown__arrow= icon