mixin date-dropdown(content, icon='keyboard_arrow_down')
    label Date dropdown
    .date-dropdown
        div(class="date-dropdown__content")= content
        div(class="date-dropdown__arrow")= icon