=date-dropdown()
	.date-dropdown
		&__label
			+label()
		
		&__box
			position: relative
			height: 3.5rem
			width: 12.3rem
			border: 1px solid $dark-shade-25
			border-radius: 0.2rem

		&__input
			height: 2.3rem
			width: 5.8rem
			+font-type($type-body)
			color: $dark-shade-75
			font-size: 1.1rem
			padding-top: 0.7rem
			padding-left: 1.2rem
					

		&__arrow
			position: absolute
			height: 2.3rem
			width: 2.3rem
			font-family: 'MaterialIcons'
			color: $dark-shade-50
			font-size: 2rem
			top: 0.9rem
			right: 0.5rem