@import "../buttons.sass";

=btn-primary($width: 8.25rem, $height: 3.7rem)
    +btn()

    .btn.btn_primary
        width: $width
        height: $height
        +font-type($type-h3)
        font-size: 0.97rem
        letter-spacing: 0.005rem
        word-spacing: 0.003rem
        color: white
        &:disabled
            opacity: 0.5