include ../checkbox-button/checkbox-button

mixin checkbox()
    .checkbox
        label(class="checkbox__label") Checkbox buttons
        .checkbox__buttons
            +checkbox-button('checkbox-1', 'Можно курить')
            +checkbox-button('checkbox-2', 'Можно с питомцами', true)
            +checkbox-button('checkbox-3', 'Можно пригласить гостей (до 10 человек)', true)