@import "../components/cards/search-room/search-room.sass";

.cards
    background: $dark-shade-5

    &__container
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin: 0 5.5rem 0 11.7rem

    &__col
        width: 32rem

    &__row
        margin: 2.3rem 0
        
+search-room()
