.form-elements
	=row()
		display: flex
		flex-wrap: wrap
		width: 100%
		padding-bottom: 3rem
			
	&__row

		&_1
			+row()
			padding-top: 1.9rem
	
		&_2
			+row()				
				
		&_3
			+row()
			min-height: 21.2rem
			padding-top: 3.5rem

		&_4
			+row()
				
	&__col

		&_1
			width: 280px
			padding-left: 9.3%	

		&_2
			width: 280px
			padding: 0
			padding-left: 9.3%
			margin: 0

		&_3
			width: 280px
			padding-left: 9.3%

	&__cell
		position: relative
		margin-top: 0.35rem

		&_text-default
			margin-bottom: 1.2rem
			
		&_text-hover
			margin-bottom: 1.2rem
			
		&_dropdown
			margin-bottom: 1.2rem
			
		&_mask
			margin-bottom: 2rem
			
		&_date
			display: flex
			margin-bottom: 2.2rem
			justify-content: space-between

		&_filter-date
			margin-bottom: 2.3rem

		&_subscription
			margin-bottom: 2.3rem

		&_checkbox
			margin-bottom: 2.6rem

		&_radio
			margin-bottom: 2.3rem

		&_toggle

			h3
				+font-type($type-h3)

			.demo-toggle-wrapper
				padding-top: 0.2rem
				margin-bottom: 2.5rem

		&_like-button

			h3
				+font-type($type-h3)

			.demo-like-wrapper
				margin-top: 0.95rem
				margin-bottom: 2.3rem
				display: flex

		&_rate-button
			
			h3
				+font-type($type-h3)

			.wrapper-rating
				display: flex

		&_range-slider
			margin-top: 0

		&_buttons
			margin-top: 2.48rem

			.primary-container
				margin-top: 1rem
				margin-bottom: 1.65rem
				+btn-primary()

			.outline-container
				margin-top: -0.2rem
				margin-bottom: 1.65rem
				+btn-outline()

			.links-container
				margin-top: -0.2rem
				margin-bottom: 1.65rem
				+btn-link()

			.submit-container
				+btn-submit()


		&_pagination
			margin-top: 2.3rem
			+pagination()

		&_filter-dropdown
			width: 233px
			margin-bottom: 1.1rem

		&_checkbox-closed
			margin-top: 2rem
			margin-bottom: 0rem

		&_checkbox-opened
			margin-top: 2.8rem
			margin-bottom: 0rem
		
		&_checkbox-rich
			margin-top: 2rem

			label
				+label()
				margin-bottom: 1rem

		&_bullet-list
			margin-top: 1.35rem

			label
				+font-type($type-h3)
				display: inline-block

+textfield()
+textfield-subscription()
+dropdown()
+date-dropdown()
+filter-dropdown()
+filter-date-dropdown()
+checkbox()
+sex-select()
+toggle()
+like-button()
+rate-button()
+range-slider()
+filter-dropdown()
+guest-dropdown()
+checkbox-expandable()
+checkbox-button()
+checkbox-rich()
+bullet-list()
+features()
+comment()