.container
    width: 100%
    position: relative
    
.offer
    position: relative
    width: 100%

    img
        position: relative
        max-width: 100%
        z-index: 0

    &__slider
        height: 70rem

    &__container
        height: 52.68rem
        max-width: 100%
        position: absolute
        top: 11.7rem
        left: 11.7rem