.offer

    img
        max-width: 100%
        z-index: 0

    &__container
        height: 70rem
        position: relative

        &_absolute
            height: 52.68rem
            max-width: 100%
            position: absolute
            top: 11.7rem
            left: 11.7rem