@import "../components/chart/chart.sass";
    
.room-details
    margin-top: 5.9rem

    &__view
        display: flex

    &__img

        &_main
            img
                width: 81.5rem
        
        &_small
            img
                width: 37.8rem

    &__wrapper
        display: flex

    &__rates
        width: 17rem
        +chart()