mixin guest-dropdown(label="Dropdown", expanded=false)
    mixin item-counter(value='', identity='')
        li(class="guest-dropdown__counter" id=identity)
            .guest-dropdown__name-counter= value
            .guest-dropdown__panel
                button.guest-dropdown__btn.guest-dropdown__btn_dec.guest-dropdown__btn_disabled -
                div(class="guest-dropdown__count" data-value="0") 0
                button.guest-dropdown__btn.guest-dropdown__btn_inc +
    .guest-dropdown
        label(class="guest-dropdown__label")= label
        if expanded
            .guest-dropdown__box
                .guest-dropdown__value-line
                    div(class="guest-dropdown__content" data-sum="0")
                    .guest-dropdown__arrow keyboard_arrow_down
                .guest-dropdown__list.guest-dropdown__list_expanded
                    ul
                    +item-counter('Взрослые', 'adults')  
                    +item-counter('Дети', 'kids')
                    +item-counter('Младенцы', 'babies')
                    .guest-dropdown__buttons
                        .guest-dropdown__clear.guest-dropdown__clear_disabled Очистить
                        .guest-dropdown__apply Применить
        else
            .guest-dropdown__box
                .guest-dropdown__value-line
                    div(class="guest-dropdown__content" data-sum="0")
                    .guest-dropdown__arrow keyboard_arrow_down
                .guest-dropdown__list
                    ul
                    +item-counter('Взрослые', 'adults')  
                    +item-counter('Дети', 'kids')
                    +item-counter('Младенцы', 'babies')