=toggle ()
	.toggle
		margin-bottom: 0.5rem

		&__label
			position: relative
	
		&__input
			-webkit-appearance: none
			-moz-appearance: none
			position: absolute

		&__text
			+font-type($type-body)
			color: $dark-shade-75
			margin-left: 2.6rem

		&__switch
			display: inline-block
			position: absolute
			top: 0.1rem
			width: 2rem
			height: 1rem
			border: 1px solid $dark-shade-25
			border-radius: 1rem

		&__slider
			display: inline-block
			width: 0.65rem
			height: 0.65rem
			position: relative
			bottom: 0.025rem
			left: 0.15rem
			background-color: $dark-shade-25
			border-radius: 50%

		&__input:checked + .toggle__switch
			border-color: $purple

			.toggle__slider
				background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
				transform: translateX(1rem)