=social()
    .social
        &__tw
            height: 1.7rem
            margin: 0 1rem

        &__fb
            height: 1.7rem
            margin: 0 0.8rem

        &__inst
            height: 1.7rem
            margin: 0 0.9rem