mixin social()
    .social
        a(href="#")
            img(src="/svg/tw.svg" class="social__tw")
        a(href="#")
            img(src="/svg/fb.svg" class="social__fb")
        a(href="#")
            img(src="/svg/inst.svg" class="social__inst")