include ../form-elements/like-button/like-button

mixin comment(comment)
    - var today = new Date()
    - var time = 5

    .comment
        .comment__user
            .comment__img
                img(src=comment.foto)
            .comment__userinfo
                .comment__name= comment.name
                .comment__date= time + ' дней назад'
        .comment__body
            .comment__like
                +like-button(comment.likes, comment.liked)
            .comment__text= comment.text