=checkbox-expandable()
    .checkbox-expandable
        position: relative
        width: 22.5rem

        &__label
            +label()

        &__string
            width: 19rem
            cursor: pointer

        &__arrow
            font-size: 2rem
            position: absolute
            top: -0.4rem
            right: 1.2rem
            color: $dark-shade-50


        &__list
            margin-top: 1.5rem
            display: none

            &_expanded
                display: block
