mixin feature(icon, label, description)
    .feature
        .material-icons.feature__img= icon
            .feature__text
                label.feature__label= label
                .feature__description= description