@import "../../libs/_types.sass";

.types
    width: 600px
    margin-left: 24.5%

@media (max-width: 1518px)
    .types
        width: 600px
        margin-left: 10.5%   
    

.font-type
    display: flex
    margin-bottom: 4.1rem

    &__type
        vertical-align: top
        text-align: end
        opacity: 0.25

        &_h1
            width: 4.3rem
            +font-type($type-h1-normal)
            
        &_h2
            width: 4.3rem
            +font-type($type-h2-normal)

        &_h3
            width: 3.8rem
            +font-type($type-h3-normal)

        &_body
            width: 3.8rem
            padding-left: 0.7rem
            padding-top: 1.1rem
            +font-type($body-bold)

        

    &__text
        vertical-align: top
        text-align: start
        flex-grow: 1

        &_h1
            margin-left: 2.5rem
            +font-type($type-h1)

        &_h2
            margin-left: 2.4rem
            margin-right: 5rem
            +font-type($type-h2)

        &_h3
            margin-left: 2.4rem
            +font-type($type-h3)

        &_body
            margin-left: 2.6rem
            margin-right: 4rem
            padding-top: 1.3rem
            +font-type($type-body)

.font-type:nth-child(3)
    display: flex
    margin-bottom: 2.55rem