include ../../form-elements/date-dropdown/date-dropdown
include ../../form-elements/guest-dropdown/guest-dropdown
include ../../form-elements/buttons/submit/button-submit

mixin search-room()
    div(class="search-room")
        .search-room__label Найдём номера под ваши пожелания
        .search-room__range
            +date-dropdown('Прибытие', '_from')
            +date-dropdown('Выезд', '_to')
        .search-room__guests
            +guest-dropdown('Гости')
        .search-room__submit
            +btn-submit('Подобрать номер')
