extends layouts/base
include ../components/form-elements/textfield/textfield
include ../components/form-elements/date-dropdown/date-dropdown
include ../components/form-elements/textfield-masked/textfield-masked
include ../components/form-elements/filter-date-dropdown/filter-date-dropdown
include ../components/form-elements/textfield-subscription/textfield-subscription

include ../components/form-elements/checkbox/checkbox
include ../components/form-elements/sex-select/sex-select
include ../components/form-elements/toggle/toggle
include ../components/form-elements/like-button/like-button
include ../components/form-elements/rate-button/rate-button

include ../components/form-elements/range-slider/range-slider
include ../components/form-elements/buttons/primary/button-primary
include ../components/form-elements/buttons/outline/button-outline
include ../components/form-elements/buttons/link/button-link
include ../components/form-elements/buttons/submit/button-submit
include ../components/form-elements/pagination/pagination

include ../components/form-elements/filter-dropdown/filter-dropdown
include ../components/form-elements/guest-dropdown/guest-dropdown

include ../components/form-elements/checkbox-expandable/checkbox-expandable
include ../components/form-elements/checkbox-rich/checkbox-rich
include ../components/form-elements/bullet-list/bullet-list

include ../components/features/features
include ../components/comment/comment

block content
    include ../components/uikit-header/uikit-header
    .form-elements__row_1
        .form-elements__col_1
            .form-elements__cell.form-elements__cell_text-default
                +textfield('Text field', 'default', 'Email')
            .form-elements__cell.form-elements__cell_text-hover
                +textfield('Text field', 'hover / focus','', 'This is a pretty awesome', true)
            .form-elements__cell.form-elements__cell_dropdown
                +guest-dropdown('Dropdown', false, 'default')
            .form-elements__cell.form-elements__cell_mask
                +textfield-masked('Masked Text field', 'default')
            .form-elements__cell.form-elements__cell_date
                .form-elements__cell
                    +date-dropdown('')
                .form-elements__cell
                    +date-dropdown('19.08.2019')
            .form-elements__cell.form-elements__cell_filter-date
                +filter-date-dropdown()
            .form-elements__cell.form-elements__cell_subscription
                +textfield-subscription()

        .form-elements__col_2
            .form-elements__cell.form-elements__cell_checkbox
                +checkbox()
            .form-elements__cell.form-elements__cell_radio
                +sex-select()
            .form-elements__cell.form-elements__cell_toggle
                h3 Toggle
                .demo-toggle-wrapper
                    +toggle('Получать спецпредложения', 'subscribe', true)
                    +toggle('Получать спецпредложения', 'notSubscribe')
            .form-elements__cell.form-elements__cell_like-button
                h3() Like button
                .demo-like-wrapper
                    +like-button('2')
                    +like-button('2', true)
            .form-elements__cell.form-elements__cell_rate-button
                h3 Rate button
                .wrapper-rating
                    +rate-button(4)
                    +rate-button(5)

        .form-elements__col_3
            .form-elements__cell.form-elements__cell_range-slider
                +range-slider('Range slider')
            .form-elements__cell.form-elements__cell_buttons
                h3 Buttons
                .primary-container
                    +btn-primary('Click me')
                    +btn-primary('Click me', true)
                .outline-container
                    +btn-outline('Click me')
                    +btn-outline('Click me', true)
                .links-container
                    +btn-link('Click me')
                    +btn-link('Click me', true)
                .submit-container
                    +btn-submit('Перейти к оплате')
            .form-elements__cell.form-elements__cell_pagination
                +pagination()

    .form-elements__row_2
        .form-elements__col_1
            .form-elements__cell.form-elements__cell_filter-dropdown.form-elements__cell.form-elements__cell_filter-dropdown_1
                +filter-dropdown()
            .form-elements__cell.form-elements__cell_filter-dropdown.form-elements__cell.form-elements__cell_filter-dropdown_2
                +filter-dropdown("Dropdown", true)
        .form-elements__col_2
            .form-elements__cell.form-elements__cell_guest-dropdown.form-elements__cell_guest-dropdown_1
                +guest-dropdown("Dropdown", true)
        .form-elements__col_3
            .form-elements__cell.form-elements__cell_guest-dropdown.form-elements__cell_guest-dropdown_2
                +guest-dropdown("Dropdown", true)

    .form-elements__row_3
        .form-elements__col_1
            .form-elements__cell.form-elements__cell_checkbox-closed
                +checkbox-expandable()
            .form-elements__cell.form-elements__cell_checkbox-opened
                +checkbox-expandable(true)
        .form-elements__col_2
            .form-elements__cell.form-elements__cell_checkbox-rich
                label Rich checkbox buttons
                +checkbox-rich('hall', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
                +checkbox-rich('helper', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера')
        .form-elements__col_3.form-elements__cell_bullet-list
            .form-elements__cell
                label Bullet list
                +bullet-list()
    
    .form-elements__row_4
        .form-elements__col_1
            +features()
        .form-elements__col_comment
            .form-elements__cell.form-elements__cell_comment
                +comment()
        