extends layouts/base

block content
    //a(href="./color-and-types.html") Colors&Types
    include ../components/uikit-header/uikit-header
    .wrapper-form-kit
        .fields
            .ham
            .form-input-field
                label Text field
                .text-field.text-field_default
                    input(type="text" placeholder="Email")
            .form-input-field
                label Text field 
                .text-field.text-field_hover-focus
                    input(type="text" placeholder="This is a pretty awesome")
            .form-input-field
                label Dropdown
                .dropdown
                    .dropdown__content Сколько гостей
                    .dropdown__arrow keyboard_arrow_down
            .form-input-field
                label Masked Textfield
                .text-field.text-field_masked
                    input(type="text" id="date")
                    p
        //-    .form-input-field
                label Date dropdown
                .date-dropdown
                    input(type="date")
            .form-input-field
                label Date dropdown
                .date-dropdown
                    input(type="date")
            .form-input-field
                label Filter date dropdown
                .filter-date-dropdown
                    input(type="date")
            .form-input-field
                label Subscription Text field
                .text-field._text-field_subcription
                    input(type="email")     
        //