extends layouts/base

include ../components/header/header
include ../components/footer/footer

block content
    .headers-footers
        include ../components/uikit-header/uikit-header
        .headers-footers__container
            .headers-footers__row
                +header()
            .headers-footers__row
                +header('Cosmin Negoita')
            .headers-footers__row
                +footer()
            .headers-footers__row

