extends layouts/base


block content
    .cards
        include ../components/uikit-header/uikit-header
        .cards__container
            .cards__col
            .cards__col
            .cards__col

