extends layouts/base
include ../components/form-elements/textfield/textfield
include ../components/form-elements/dropdown/dropdown
include ../components/form-elements/date-dropdown/date-dropdown
include ../components/form-elements/textfield-masked/textfield-masked
include ../components/form-elements/filter-date-dropdown/filter-date-dropdown
include ../components/form-elements/textfield-subscription/textfield-subscription
include ../components/form-elements/filter-dropdown/filter-dropdown

include ../components/form-elements/checkbox/checkbox
include ../components/form-elements/radiobutton/radiobutton
include ../components/form-elements/toggle/toggle
include ../components/form-elements/like-button/like-button
include ../components/form-elements/rate-button/rate-button

block content
    include ../components/uikit-header/uikit-header
    .wrapper-form-kit
        .col-formkit-start
            .form-input-field
                .inscription default
                +textfield('Email')
            .form-input-field
                .inscription hover / focus
                +textfield('', 'This is a pretty awesome', true)
            .form-input-field
                .inscription default
                +dropdown('Сколько гостей')
            .form-input-field
                .inscription default
                +textfield-masked()
            .dropdown-wrapper
                .form-input-field
                    +date-dropdown('ДД.ММ.ГГ')
                .form-input-field
                    +date-dropdown('19.08.2019')
            .form-input-field
                +filter-date-dropdown()
            .form-input-field
                +textfield-subscription() 
        .col-formkit-middle
            .form-input-field
                label Checkbox buttons
                .demo-checkbox-wrapper
                    +checkbox-button('checkbox-1', 'Можно курить')
                    +checkbox-button('checkbox-2', 'Можно с питомцами', true)
                    +checkbox-button('checkbox-3', 'Можно пригласить гостей (до 10 человек)', true)
            .form-input-field
                label Radio buttons
                .demo-radio-wrapper
                    +radio-button('Мужчина', 'sex', 'men', true)              
                    +radio-button('Женщина', 'sex', 'women')
            .form-input-field
                h3 Toggle
                .demo-toggle-wrapper
                    +toggle('Получать спецпредложения', 'subscribe', true)
                    +toggle('Получать спецпредложения', 'notSubscribe')
            .form-input-field
                h3 Like button
                .demo-like-wrapper
                    +like-button('2')
                    +like-button('2', true)
            .form-input-field
                h3 Rate button
                .wrapper-rating
                    +rate-button(4)
                    +rate-button(5)
        .col-formkit-end
            .range-slider
                label Range slider
                div(id="slider")

    .wrapper-form-kit
        .col-formkit-start
            .form-input-field
                .inscription default
                +filter-dropdown()
            .form-input-field
                .inscription expanded
                +filter-dropdown(true)