extends layouts/base

block content
    //a(href="./color-and-types.html") Colors&Types
    include ../components/uikit-header/uikit-header
    .wrapper-form-kit
        .fields
            .form-input-field
                label Text field
                .text-field.text-field_default
                    input(type="text" placeholder="Email")
            .form-input-field
                label Text field 
                .text-field.text-field_hover-focus
                    input(type="text" value="This is a pretty awesome")
            .form-input-field
                label Dropdown
                .dropdown
                    .dropdown__content Сколько гостей
                    .dropdown__arrow keyboard_arrow_down
            .form-input-field
                label Masked Textfield
                .text-field.text-field_masked
                    input(type="text" id="date")
                    p
            .dropdown-wrapper
                .form-input-field
                    label Date dropdown
                    .date-dropdown
                        .date-dropdown__content ДД.ММ.ГГГГ
                        .date-dropdown__arrow keyboard_arrow_down
                .form-input-field
                    label Date dropdown
                    .date-dropdown
                        .date-dropdown__content 19.08.2019
                        .date-dropdown__arrow keyboard_arrow_down
            .form-input-field
                label Filter date dropdown
                .filter-date-dropdown
                    .filter-date-dropdown__content 19 авг - 23 авг
                    .filter-date-dropdown__arrow keyboard_arrow_down
            .form-input-field
                label Subscription Text field
                .text-field.text-field_subcription
                    input(type="email" placeholder="Email")
                    .text-field_subcription__arrow arrow_forward  

    .wrapper-form-kit
        .dropdowns-row-1
            .form-input-field
                label Dropdown
                .dropdown.dropdown_default
                    .dropdown_default__value-line
                        .dropdown_default__content 2 спальни, 2 кровати...
                        .dropdown_default__arrow keyboard_arrow_down
                    .dropdown_default__list
            .form-input-field
                label Dropdown
                .dropdown.dropdown_expanded
                    .dropdown_expanded__value-line
                        .dropdown_expanded__content 2 спальни, 2 кровати...
                        .dropdown_expanded__arrow keyboard_arrow_down
                    .dropdown_expanded__list