extends layouts/base

include ../components/cards/search-room/search-room
include ../components/cards/signup/signup

include ../components/cards/order-room/order-room
include ../components/cards/signin/signin

include ../components/cards/calendar/calendar


block content
    .cards
        include ../components/uikit-header/uikit-header
        .cards__container
            .cards__col
                .cards__row
                    +search-room()
                .cards__row
                    +signup()
            .cards__col
                .cards__row
                    +order-room()
                .cards__row
                    +signin()
            .cards__col
                .cards__row
                    +calendar()

