extends layouts/base

include ../components/cards/search-room/search-room
include ../components/cards/signup/signup


block content
    .cards
        include ../components/uikit-header/uikit-header
        .cards__container
            .cards__col
                .cards__row
                    +search-room()
                .cards__row
                    +signup()
            .cards__col
            .cards__col

