extends layouts/landing

include ../components/cards/search-room/search-room

block section
    section.offer
        .offer__container
            .offer__slider
                .offer__slide-1
                    img(src="/img/offer_img_1.jpg")
                .offer__slide-2
                    img(src="/img/offer_img_2.jpg")
                .offer__slide-3
                    img(src="/img/offer_img_3.jpg")
        .offer__container_absolute
            +search-room()
