extends layouts/landing

include ../components/features/features
include ../components/chart/chart

block section
    -
        var numFeatures = [
            {icon: 'insert_emoticon', label: 'Комфорт', description: 'Шумопоглощающие стены'},
            {icon: 'location_city', label: 'Удобство', description: 'Окно в каждой из спален'},
            {icon: 'whatshot', label: 'Уют', description: 'Номер оснащен камином'},
        ] 

    section.room-details
        .room-details__view
            .room-details__img_main
                img(src="/img/num_lux_1.jpg")
            .room-details__img_small
                img(src="/img/num_lux_2.jpg")
                img(src="/img/num_lux_3.jpg")
        .room-details__info
            .room-details__description
                .room-details__wrapper
                    .room-details__features
                        h1 Сведения о номере
                        +features(numFeatures)
                    .room-details__rates
                        +chart() 

                .room-details__comments

                .room-details__wrapper
                    .room-details__rules
                    .room-details__cancel
            .room-details__order
        