extends layouts/landing

include ../components/features/features
include ../components/chart/chart
include ../components/cards/order-room/order-room
include ../components/comment/comment
include ../components/form-elements/bullet-list/bullet-list

block section
    -
        var numFeatures = [
            {icon: 'insert_emoticon', label: 'Комфорт', description: 'Шумопоглощающие стены'},
            {icon: 'location_city', label: 'Удобство', description: 'Окно в каждой из спален'},
            {icon: 'whatshot', label: 'Уют', description: 'Номер оснащен камином'},
        ] 

    section.room-details
        .room-details__view
            .room-details__img_main
                img(src="/img/num_lux_1.jpg")
            .room-details__img_small
                img(src="/img/num_lux_2.jpg")
                img(src="/img/num_lux_3.jpg")
        .room-details__info
            .room-details__description
                .room-details__wrapper
                    .room-details__features
                        h1 Сведения о номере
                        +features(numFeatures)
                    .room-details__rates
                        h1 Впечатления от номера
                        +chart() 

                .room-details__comments
                    h1 Отзывы посетителей номера
                    +comment()
                    +comment()

                .room-details__wrapper_cancel
                    .room-details__rules
                        h1 Правила
                        +bullet-list()
                    .room-details__cancel
                        h1 Отмена
                        .room-details__cancel_text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            .room-details__order
                +order-room()
        