extends layouts/landing

include ../components/features/features
include ../components/chart/chart
include ../components/cards/order-room/order-room
include ../components/comment/comment
include ../components/form-elements/bullet-list/bullet-list

block section

    -
        var testRoom = {
            slides: ["/img/num_lux_1.jpg", "/img/num_lux_2.jpg", "/img/num_lux_3.jpg"],
            features: [
                {icon: 'insert_emoticon', label: 'Комфорт', description: 'Шумопоглощающие стены'},
                {icon: 'location_city', label: 'Удобство', description: 'Окно в каждой из спален'},
                {icon: 'whatshot', label: 'Уют', description: 'Номер оснащен камином'},
            ],
            rates: {
                count: 260,
                gold: 50,
                green: 25,
                purple: 25
            },
            numb: '888',
            lux: true,
            price: '9 990',
            collecting_1: 0,
            collecting_2: 300,
            comments: [
                {
                    foto: "/img/murad.jpg",
                    date: new Date(2020, 3, 22),
                    likes: 12,
                    liked: true,
                    name: 'Мурад Сарафанов',
                    text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены действительно шумоподавляющие. Выкрикивал комплименты повару - никто не жаловалсяиз соседей.'
                },
                {
                    foto: "/img/murad.jpg",
                    date: new Date(2020, 3, 22),
                    likes: 12,
                    liked: true,
                    name: 'Мурад Сарафанов',
                    text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены действительно шумоподавляющие. Выкрикивал комплименты повару - никто не жаловалсяиз соседей.'
                },
            ] 

        }

    -
        var numFeatures = [
            {icon: 'insert_emoticon', label: 'Комфорт', description: 'Шумопоглощающие стены'},
            {icon: 'location_city', label: 'Удобство', description: 'Окно в каждой из спален'},
            {icon: 'whatshot', label: 'Уют', description: 'Номер оснащен камином'},
        ] 

    section.room-details
        .room-details__view
            .room-details__img_main
                img(src=testRoom.slides[0])
            .room-details__img_small
                .room-details__img_2
                    img(src=testRoom.slides[1])
                .room-details__img_3
                    img(src=testRoom.slides[2])
        .room-details__info
            .room-details__description
                .room-details__wrapper
                    .room-details__features
                        h1 Сведения о номере
                        +features(testRoom.features)
                    .room-details__rates
                        h1 Впечатления от номера
                        +chart(testRoom.rates) 

                .room-details__comments
                    .room-details__comments_count
                        .room-details__count= testRoom.comments.length
                        .room-details__label отзыва
                    h1 Отзывы посетителей номера
                    each comment in testRoom.comments
                        +comment(comment)

                .room-details__wrapper_cancel
                    .room-details__rules
                        h1 Правила
                        +bullet-list()
                    .room-details__cancel
                        h1 Отмена
                        .room-details__cancel_text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            .room-details__order
                +order-room()
        