extends layouts/landing

block section
    section.room-details
        .room-details__view
            .room-details__img_main
            .room-details__img_small
        .room-details__info
            .room-details__description
                .room-details__wrapper
                    .room-details__features
                    .room-details__rates
                .room-details__comments
                .room-details__wrapper
                    .room-details__rules
                    .room-details__cancel
            .room-details__order
        