extends layouts/landing

block section
    aside.filters
        .filters__filter-date
        .filters__guests
        .filters__range
        .filters__checkbox
        .filters__checkbox_rich
        .filters__dropdown
        .filters__checkbox_expandable
    section.results
        h1.results__label
        .results__cards
        .results__paginator