include ../form-elements/buttons/outline/button-outline
include ../form-elements/buttons/primary/button-primary
include ../logo/logo

mixin header(user='')
    header.header
        .header__logo
            +logo()
        .header__burger
            span.material-icons dehaze
        nav.header__menu
            ul.header__menu_container
                li.header__menu_item.header__menu_active Home
                li.header__menu_item About Us
                li.header__menu_item Services
                    span.header__menu_arrow.material-icons keyboard_arrow_down
                li.header__menu_item Careers
                li.header__menu_item News
                li.header__menu_item Documentation
        if (user=='') 
            .header__buttons
                .header__buttons_login
                    +btn-outline('Login')
                .header__buttons_register
                    +btn-primary('Register')
        else
            .header__username= user
