@import "../feature/feature.sass";
    
=features()
    .features
        max-width: 23rem

        &__item
            border-bottom: 1px solid $dark-shade-5
            &_last
               border: none
+feature()   