include ../feature/feature

mixin features(features)
    .features
        each item, idx in features
            if (idx === (features.length - 1))
                .features__item.features__item_last
                    +feature(item.icon, item.label, item.description)
            else
                .features__item
                    +feature(item.icon, item.label, item.description)