include ../feature/feature

mixin features()
    .features
        .features__item
            +feature('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
        .features__item
            +feature('location_city', 'Удобство', 'Окно в каждой из спален')