mixin features()
    .features
        .features__item
            .material-icons.features__img insert_emoticon
            .features__text
                label.features__label Комфорт
                .features__description Шумопоглощающие стены
        .features__item
            .material-icons.features__img location_city 
            .features__text
                label.features__label Удобство
                .features__description Окно в каждой из спален