@import "../form-elements/textfield-subscription/textfield-subscription.sass";
@import "../logo/logo.sass";
@import "../social/social.sass";
    
=footer()
    .footer
        background: white
        height: 37rem
        box-shadow: 0 1rem 2rem $dark-shade-5
        +font-type($type-body)
        color: $dark-shade-50

        &__row_top
            display: flex
            padding: 0 7.8% 0 9%
            justify-content: space-between
            align-items: center
            height: 31.2rem
            border-bottom: 1px solid $dark-shade-25

        &__logo
            align-self: flex-start
            padding-top: 8.5rem
            flex-grow: 1

            &_container
                margin-bottom: 1.7rem
                width: 22rem
                color: $dark-shade-75
                +logo()

            &_text
                width: 22rem
                margin-left: 1rem
                color: $dark-shade-75

        &__menu
            display: flex
            justify-content: space-between
            align-items: space-around
            flex-grow: 6
            padding-top: 2rem

            &_container
                list-style: none
                margin: 0
                padding: 0
        
        &__label
            +font-type($type-h3)
            font-size: 1rem
            color: $dark-shade-100
            margin-bottom: 1.5rem

        &__item
            margin-bottom: 1.2rem

        &__subscribe
            margin-left: 1rem
            align-self: flex-start
            padding-left: 7rem
            padding-top: 9rem
            flex-grow: 0.4

            &_text
                width: 22rem 
                margin-bottom: 1.9rem
                color: $dark-shade-75

            &_form
                padding-left: 0.2rem
                +textfield-subscription(21.5rem)



        &__row_bottom
            display: flex
            padding: 1.6rem 8.3% 2rem 9.8%
            justify-content: space-between
            align-items: center

        &__social
            
            +social()
            