mixin textfield-subscription()
    label Subscription Textfield
    .text-field.text-field_subcription
        input(type="email" placeholder="Email")
        .text-field_subcription__arrow arrow_forward