mixin textfield-subscription(label="Subscription Text field", placeholder="Email")
    .text-field_subscription
        label(class="text-field_subscription__label")= label
        .text-field_subscription__box
            input(type="email" class="text-field_subscription__input" placeholder=placeholder)
            .text-field_subscription__arrow.material-icons arrow_forward