mixin textfield-subscription(label="Subscription Text field")
    .text-field_subscription
        label(class="text-field_subscription__label")= label
        .text-field_subscription__box
            input(type="email" class="text-field_subscription__input" placeholder="Email")
            .text-field_subscription__arrow arrow_forward