=textfield-subscription($width: 22rem, $height: 3.6rem)
	
	.text-field_subscription
		&__label
			+label()

		&__box
			position: relative
			background-color: transparent
			height: $height
			width: $width
			border: 1px solid $dark-shade-25
			border-radius: 0.3rem

		&__input
			position: absolute
			top: 0.9rem
			left: 1rem
			background-color: transparent
			border: none
			width: $width - 2rem
			+font-type($type-body)
			color: $dark-shade-100
			line-height: 0.6rem
			outline: none

		&__arrow
			position: absolute
			height: 2.3rem
			width: 2.3rem
			font-family: 'Material Icons'
			color: $purple
			font-size: 2rem
			top: 0.8rem
			right: 0.5rem
			cursor: pointer
			z-index: 3