=textfield()
	.text-field
		
		&__label
			+label()

		&__inscription
			position: absolute		
			+font-type($type-h3-normal)
			font-size: 1rem
			color: $dark-shade-50
			top: -0.2rem
			right: 0

		&__input
			width: 24.4rem
			padding: 1rem
			border: 1px solid $dark-shade-25
			border-radius: 0.3rem
			+font-type($type-body)
			font-size: 1.05rem
			color: $dark-shade-100
			line-height: 1.5em
			padding-left: 1.1rem

			&:focus
				outline: 0
				outline-offset: 0
				border: 1px solid $dark-shade-50