mixin color-box(color, opacity, code)
    - var shade = ''
    - var shadeClass = ''
        
    if opacity!=''
        - shade = ' Shade ' + opacity + '%'

    case opacity
        when '100'
            - shadeClass = ' color-box__pallete_theme_dark_shade_100'
        when '75'
            - shadeClass = ' color-box__pallete_theme_dark_shade_75'
        when '50'
            - shadeClass = ' color-box__pallete_theme_dark_shade_50'
        when '25'
            - shadeClass = ' color-box__pallete_theme_dark_shade_25'
        when '5'
            - shadeClass = ' color-box__pallete_theme_dark_shade_5'

    .color-box
            - var colorClass = 'color-box__pallete_theme_' + color.toLowerCase()
            div(class= 'color-box__pallete ' + colorClass + shadeClass)
            .color-box__info
                .color-box__name= color + shade
                .color-box__code= code