.colors
	min-width: 10rem
	max-width: 28.2rem
	flex-grow: 1
	padding-left: 8.3rem
	padding-bottom: 5rem

.color-box
	display: flex
	width: 100%
	margin-bottom: 1.15rem

	&__pallete
		width: 3.8em
		height: 3.8em
		border-radius: 0.35rem

		&_theme_dark
			background-color: $dark

		&_theme_purple
			background-color: $purple

		&_theme_green
			background-color: $green

		&_shade_100
			+shade(1)

		&_shade_75
			+shade(0.75)

		&_shade_50
			+shade(0.5)

		&_shade_25
			+shade(0.25)

		&_shade_5
			+shade(0.05)

	&__info
		padding-top: 8px
		margin-left: 35px

	&__name
		font-weight: bold
		letter-spacing: 0.036em

	&__code
		margin-top: 3px

@media screen and ( min-width: 320px ) and ( max-width: 720px )
	.color-media
		display: block
	