@import "../../libs/_types.sass";

.colors
	min-width: 10rem
	max-width: 28.2rem
	flex-grow: 1
	padding-left: 10.5%
	padding-bottom: 5rem

.color-box
	display: flex
	width: 380px
	margin-bottom: 1.7rem

	&__pallete
		width: 5.8rem
		height: 5.8rem
		border-radius: 0.5rem

		&_theme-dark_shade-100
			background-color: $dark-shade-100

		&_theme-dark_shade-75
			background-color: $dark-shade-75

		&_theme-dark_shade-50
			background-color: $dark-shade-50

		&_theme-dark_shade-25
			background-color: $dark-shade-25

		&_theme-dark_shade-5
			background-color: $dark-shade-5		

		&_theme-purple
			background-color: $purple

		&_theme-green
			background-color: $green

	&__info
		padding-top: 0.8rem
		margin-left: 3.4rem

	&__name
		+font-type($type-h2)

	&__code
		margin-top: 0.28rem
		+font-type($type-h2-normal)
	