=radio-button ()
	.radio-button
		position: relative
		margin-right: 1rem

		input
			position: absolute
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none

		input + label
			+font-type($type-body)
			color: $dark-shade-50
			margin-left: 1.7rem

		input + label::before
			content: ''
			width: 1rem
			height: 1rem
			border: 1px solid $dark-shade-50
			border-radius: 50%
			position: absolute
			top: 0.15rem
			left: 0

		input + label:hover::before
			border-color: $purple

		input:checked + label::before
			border-color: $purple
			background: url('/static/icons/radiomark.svg') no-repeat center