@import "../buttons.sass";

=btn-submit()
    +btn()

    .btn_submit
        position: relative
        width: auto
        min-width: 17.5rem
        +font-type($type-h3)
        color: white

        &__icon
            position: absolute
            font-size: 1.2rem
            top: 0.6rem
            right: 0.6rem