@import "../buttons.sass"

=btn-submit($width: 26.7rem, $height: 3.7rem)
    +btn()

    .btn.btn_submit
        position: relative
        +font-type($type-h3)
        width: $width
        height: $height
        padding-top: 0.2rem
        color: white
        outline: none

    .btn_submit__icon
        position: absolute
        font-size: 2rem
        top: 0.8rem
        right: 0.8rem