mixin filter-dropdown(expanded=false)
    label Dropdown
    if expanded
        .filter-dropdown.filter-dropdown_expanded
            .filter-dropdown__value-line
                .filter-dropdown__content 2 спальни, 2 кровати...
                .filter-dropdown__arrow keyboard_arrow_down
            .filter-dropdown__list
    else
        .filter-dropdown
            .filter-dropdown__value-line
                .filter-dropdown__content 2 спальни, 2 кровати...
                .filter-dropdown__arrow keyboard_arrow_down
            .filter-dropdown__list