mixin filter-dropdown()
    label Dropdown
    .filter-dropdown
        .filter-dropdown__value-line
            .filter-dropdown__content 2 спальни, 2 кровати...
            .filter-dropdown__arrow keyboard_arrow_down
        .filter-dropdown__list