header.uikit-header
        img(src="svg/logo.svg")
        ul
                li
                        a(href="./color-and-types.html") Colors&Types
                li
                        a(href="./form-elements.html") Form Elements
                li
                        a(href="./cards.html") Cards
                li
                        a(href="./index.html") Headers&Footers