include ../checkbox/checkbox

mixin checkbox-rich(id, text, description, checked=false)
    .checkbox-rich
        .checkbox-rich__button
            +checkbox-button(id, text, checked)
        .checkbox-rich__description= description
