@import "./libs/_fonts.css";
@import "./libs/_colors.sass";
@import "./libs/_mixins.sass";

@import "./components/color-box/color-box.sass";
@import "./components/uikit-header/uikit-header.sass";
@import "./components/font-type/font-type.sass";


body
	color: $dark-shade-100
	margin: 0
	padding: 0
	width: 100%
	max-width: 120rem
	min-width: 35rem

.wrapper
	display: flex
	flex-wrap: wrap
	width: 100%
	padding-top: 2.3rem

.wrapper-form-kit
	display: flex
	flex-wrap: wrap
	width: 100%
	padding-top: 1.9rem

.fields
	width: 25%
	padding-left: 7.8rem

	.form-input-field
		margin-bottom: 0.9rem

		label
			display: inline-block
			+font-type($type-h3)
			margin-bottom: 0.35rem

		.text-field input
			width: 16rem
			padding: 0.69rem
			border: 1px solid $dark-shade-25
			border-radius: 0.2rem
			+font-type($type-body)
			color: $dark-shade-100
			line-height: 0.6rem
			padding-left: 0.75rem

	.form-input-field:nth-child(2)
		margin-bottom: 0.87rem

	.form-input-field:nth-child(3)
		margin-bottom: 0.96rem

	.form-input-field:nth-child(3) label
		margin-bottom: 0.35rem

	.form-input-field:nth-child(4) label
		margin-bottom: 0.3rem

	.form-input-field:nth-child(4)
		margin-bottom: 2rem

	.dropdown
		display: flex
		height: 2.3rem
		width: 17.4rem
		border: 1px solid $dark-shade-25
		border-radius: 0.2rem


		&__content
			height: 2.3rem
			width: 15.1rem
			+font-type($type-body)
			color: $dark-shade-75
			font-size: 0.76rem
			padding-top: 0.4rem
			padding-left: 0.7rem
			

		&__arrow
			height: 2.3rem
			width: 2.3rem
			font-family: 'MaterialIcons'
			color: $dark-shade-50
			font-size: 1.3rem
			padding-top: 0.5rem
			padding-left: 3rem

	.dropdown-wrapper
		display: flex

		.form-input-field:nth-child(1)
			margin-right: 1.1rem

		.date-dropdown
			position: relative
			height: 2.3rem
			width: 8.1rem
			border: 1px solid $dark-shade-25
			border-radius: 0.2rem

			&__content
				height: 2.3rem
				width: 5.8rem
				+font-type($type-body)
				color: $dark-shade-75
				font-size: 0.76rem
				padding-top: 0.4rem
				padding-left: 0.7rem
				

			&__arrow
				position: absolute
				height: 2.3rem
				width: 2.3rem
				font-family: 'MaterialIcons'
				color: $dark-shade-50
				font-size: 1.3rem
				top: 0.55rem
				left: 6.3rem



		
