@import "./libs/_fonts.css";
@import "./libs/_colors.sass";
@import "./libs/_mixins.sass";

@import "./components/color-box/color-box.sass";
@import "./components/uikit-header/uikit-header.sass";

body
	font-family: 'Open Sans', sans-serif
	color: $dark

.wrapper
	padding-left: 7.84rem
	padding-top: 2.3rem