@import "./../node_modules/nouislider/distribute/nouislider.min.css";

@import "./libs/_fonts.css";
@import "./libs/_colors.sass";
@import "./libs/_mixins.sass";

@import "./components/color-box/color-box.sass";
@import "./components/uikit-header/uikit-header.sass";
@import "./components/font-type/font-type.sass";

@import "./components/form-elements/textfield/textfield.sass";
@import "./components/form-elements/dropdown/dropdown.sass";
@import "./components/form-elements/date-dropdown/date-dropdown.sass";
@import "./components/form-elements/filter-date-dropdown/filter-date-dropdown.sass";
@import "./components/form-elements/textfield-subscription/textfield-subscription.sass";

@import "./components/form-elements/checkbox/checkbox.sass";
@import "./components/form-elements/sex-select/sex-select.sass";
@import "./components/form-elements/toggle/toggle.sass";
@import "./components/form-elements/like-button/like-button.sass";
@import "./components/form-elements/rate-button/rate-button.sass";

@import "./components/form-elements/range-slider/range-slider.sass";
@import "./components/form-elements/buttons/primary/button-primary.sass";
@import "./components/form-elements/buttons/outline/button-outline.sass";
@import "./components/form-elements/buttons/link/button-link.sass";
@import "./components/form-elements/buttons/submit/button-submit.sass";
@import "./components/form-elements/pagination/pagination.sass";
@import "./components/form-elements/pagination/simplePagination.css";
@import "./components/form-elements/pagination/custom-theme.sass";

@import "./components/form-elements/filter-dropdown/filter-dropdown.sass";
@import "./components/form-elements/guest-dropdown/guest-dropdown.sass";

@import "./components/form-elements/checkbox-expandable/checkbox-expandable.sass";
@import "./components/form-elements/checkbox-rich/checkbox-rich.sass";
@import "./components/form-elements/bullet-list/bullet-list.sass";

@import "./components/features/features.sass";
@import "./components/comment/comment.sass";

=label()
	display: block
	+font-type($type-h3)
	margin-bottom: 0.35rem


body
	color: $dark-shade-100
	margin: 0
	padding: 0
	width: 100%
	max-width: 120rem
	min-width: 35rem

	h3
		padding: 0
		+font-type($type-h3)

.wrapper
	display: flex
	flex-wrap: wrap
	width: 100%
	padding-top: 2.3rem

.form-elements
	=row()
		display: flex
		flex-wrap: wrap
		width: 100%
		padding-top: 1.9rem
		padding-bottom: 3.4rem
		//padding-left: 7.8rem
		
	
	&__row


		&_1
			+row()
			padding-left: 9.3%

			.col-formkit-middle
				padding-left: 6rem
				width: 25%

				.form-input-field:nth-child(1)
					margin-bottom: 2.6rem
					padding-right: 8rem
					+checkbox()

				.form-input-field:nth-child(2)
					margin-bottom: 2.3rem
					+sex-select()

				.form-input-field:nth-child(3)
					h3
						+font-type($type-h3)

					.demo-toggle-wrapper
						padding-top: 0.2rem
						margin-bottom: 2.5rem
						+toggle()
								
				.form-input-field:nth-child(4)

					h3
						+font-type($type-h3)

					.demo-like-wrapper
						margin-top: 0.95rem
						margin-bottom: 2.3rem
						display: flex
						+like-button()
				
				.form-input-field:nth-child(5)
					h3
						+font-type($type-h3)

					.wrapper-rating
						display: flex

					+rate-button()

			.col-formkit-end
				padding: 0
				margin: 0
				padding-left: 0.4rem
				width: 36%
				
				.form-input-field:nth-child(1)
					+range-slider()	

				.form-input-field:nth-child(2)
					margin-top: 2.5rem

					.buttons-kit-container
						margin-top: 1rem
						margin-bottom: 1.65rem
						+btn-primary()
						+btn-outline()

					.buttons-kit-container:nth-child(4)
						margin-top: -0.2rem
						+btn-link()

					.buttons-kit-container:nth-child(5)
						margin-top: -0.2rem
						+btn-submit()
				
				.form-input-field:nth-child(3)
					margin-top: 2.3rem
					+pagination()
			
		&_2
			+row()

			.col-formkit-start
				width: 18.5%
				padding-right: 2.9rem
				
				.form-input-field:nth-child(1)
					margin-bottom: 0.9rem

					label
						margin-bottom: 0.35rem

					
					
					+filter-dropdown()

				.form-input-field:nth-child(2)
					margin-bottom: 0.78rem

					
					+filter-dropdown()

			.col-formkit-middle,
			.col-formkit-end
				.form-input-field
					+guest-dropdown()
				
		&_3
			+row()

			padding-top: 3rem
			padding-bottom: 0

			.col-formkit-start
				.form-input-field
					+checkbox-expandable()
					+checkbox-button()
				.form-input-field:nth-child(1)
					margin-top: 2rem
					margin-bottom: 1rem
				.form-input-field:nth-child(2)
					margin-top: 2rem
					margin-bottom: 0rem
				max-height: 21.2rem
			.col-formkit-middle
				padding-left: 6rem
				width: 25%

				.form-input-field
					margin-top: 2rem

					label
						+label()
						margin-bottom: 1rem

					+checkbox-rich()

			.col-formkit-end

				.form-input-field
					margin-top: 2rem

					label
						+font-type($type-h3)
						display: inline-block

					+bullet-list()

		&_4
			+row()

			.col-formkit-start
				padding-right: 10.5rem
				+features()
			.col-formkit-middle
				width: 60%
				+comment()

	&__col

		&_1
			width: 280px	

		&_2
			width: 33%

		&_3
			width: 34%

	&__cell
		position: relative
		margin-top: 0.35rem

		&_text-default
			margin-bottom: 1.2rem
			

		&_text-hover
			margin-bottom: 1.2rem
			

		&_dropdown
			margin-bottom: 1.2rem
			

		&_mask
			margin-bottom: 2rem
			

		&_date
			display: flex
			margin-bottom: 2.2rem
			justify-content: space-between

		&_filter-date
			margin-bottom: 2.3rem

		&_subscription
			margin-bottom: 2.3rem

+textfield()
+textfield-subscription()
+dropdown()
+date-dropdown()
+filter-dropdown()
+filter-date-dropdown()