@import "../buttons.sass";

=btn-outline($width: 8.25rem, $height: 3.7rem)
    +btn()

    .btn.btn_outline
        position: relative
        background: white
        width: $width
        height: $height
        border: 3px solid $purple
        +font-type($type-h3)
        font-size: 0.96rem
        color: $purple

        &:hover
            background: linear-gradient(180deg, $purple 0%, $blue 100%)
            color: white

        &:active
            background: $green

        &:disabled
            opacity: 0.5

            &:hover
                background: white
                color: $purple