mixin dropdown(content='', icon='keyboard_arrow_down')
    .dropdown
        label(class="dropdown__label") Dropdown
        .dropdown__box
            .dropdown__input= content 
            .dropdown__arrow keyboard_arrow_down